# Q.3 Build a machine learning model to predict employee attrition in a company. By analyzing factors like job satisfaction, salary, and work-life balance, organizations can take measures to retain valuable employees.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\Attrition.csv")

In [6]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [7]:
pd.set_option('display.max_columns', None)
print(df)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  EnvironmentSatisfaction  Gender  HourlyRate  \
0                  1                        2  Female          94
1                  2                        3    Male          61
2                  4                        4    Male          92
3                  5                        4  Female          56
4                  7                        1    Male          40
...              ...                      ...     ...         ...
1465            2061                        3    Male          41
1466            2062                        4    Male          42
1467            2064                        2    Male          87
1468            2065                        4    Male          63
1469            2068                        2    Male          82

      JobInvolvement  JobLevel                    JobRole  JobSatisfaction  \
0                  3         2            Sales Executive                4
1                  2         2         Research Scientist                2
2                  2         1      Laboratory Technician                3
3                  3         1         Research Scientist                3
4                  3         1      Laboratory Technician                2
...              ...       ...                        ...              ...
1465               4         2      Laboratory Technician                4
1466               2         3  Healthcare Representative                1
1467               4         2     Manufacturing Director                2
1468               2         2            Sales Executive                2
1469               4         2      Laboratory Technician                3

     MaritalStatus  MonthlyIncome  MonthlyRate  NumCompaniesWorked Over18  \
0           Single           5993        19479                   8      Y
1          Married           5130        24907                   1      Y
2           Single           2090         2396                   6      Y
3          Married           2909        23159                   1      Y
4          Married           3468        16632                   9      Y
...            ...            ...          ...                 ...    ...
1465       Married           2571        12290                   4      Y
1466       Married           9991        21457                   4      Y
1467       Married           6142         5174                   1      Y
1468       Married           5390        13243                   2      Y
1469       Married           4404        10228                   2      Y

     OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  \
0         Yes                 11                  3                         1
1          No                 23                  4                         4
2         Yes                 15                  3                         2
3         Yes                 11                  3                         3
4          No                 12                  3                         4
...       ...                ...                ...                       ...
1465       No                 17                  3                         3
1466       No                 15                  3                         1
1467      Yes                 20                  4                         2
1468       No                 14                  3                         4
1469       No                 12                  3                         1

      StandardHours  StockOptionLevel  TotalWorkingYears  \
0                80                 0                  8
1                80                 1                 10
2                80                 0                  7
3                80                 0                  8
4                80                 1                  6
...             ...               ...                ...
1465             80                 1                 17
1466             80                 1                  9
1467             80                 1                  6
1468             80                 0                 17
1469             80                 0                  6

      TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                         0                1               6
1                         3                3              10
2                         3                3               0
3                         3                3               8
4                         3                3               2
...                     ...              ...             ...
1465                      3                3               5
1466                      5                3               7
1467                      0                3               6
1468                      3                2               9
1469                      3                4               4

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                      4                        0                     5
1                      7                        1                     7
2                      0                        0                     0
3                      7                        3                     0
4                      2                        2                     2
...                  ...                      ...                   ...
1465                   2                        0                     3
1466                   7                        1                     7
1467                   2                        0                     3
1468                   6                        0                     8
1469                   3                        1                     2

[1470 rows x 35 columns]

In [9]:
print(f'Average distance = {df["DistanceFromHome"].mean()}')
print(f'Highest distance = {df["DistanceFromHome"].max()}')
print(f'Lowest distance = {df["DistanceFromHome"].min()}')

Average distance = 9.19251700680272
Highest distance = 29
Lowest distance = 1

In [11]:
attrition_by_distance = df.groupby(['DistanceFromHome', 'Attrition'])['Attrition'].count().unstack().fillna(0)

# Rename the columns to 'Yes' and 'No' for readability
attrition_by_distance.columns = ['No', 'Yes']

# Display the result
print(attrition_by_distance)

                   No  Yes
DistanceFromHome
1                 182   26
2                 183   28
3                  70   14
4                  55    9
5                  55   10
6                  52    7
7                  73   11
8                  70   10
9                  67   18
10                 75   11
11                 25    4
12                 14    6
13                 13    6
14                 17    4
15                 21    5
16                 25    7
17                 15    5
18                 22    4
19                 19    3
20                 21    4
21                 15    3
22                 13    6
23                 22    5
24                 16   12
25                 19    6
26                 22    3
27                  9    3
28                 21    2
29                 22    5

# ATTRITION DUE TO LOWER SALARY THAN AVERAGE

In [14]:
print(f'Average MonthlyIncome = {df["MonthlyIncome"].mean()}')
print(f'Highest MonthlyIncome = {df["MonthlyIncome"].max()}')
print(f'Lowest MonthlyIncome = {df["MonthlyIncome"].min()}')

Average MonthlyIncome = 6502.931292517007
Highest MonthlyIncome = 19999
Lowest MonthlyIncome = 1009

In [16]:
Average_MonthlyIncome = 6502.931292517007

# Filter employees with 'Attrition' as 'Yes' and 'MonthlyIncome' lower than the average
attrition_due_to_low_salary = df[(df['Attrition'] == 'Yes') & (df['MonthlyIncome'] < Average_MonthlyIncome)]

# Count the number of such employees
num_employees_attrite_due_to_low_salary = len(attrition_due_to_low_salary)

# Display the result
print("Number of employees who might attrite due to salary lower than the average:", num_employees_attrite_due_to_low_salary)

Number of employees who might attrite due to salary lower than the average: 185

# HOW MANY MALE AND FEMALE ARE WORKING IN THE COMPANY

In [50]:
Gender_count = df['Gender'].value_counts()

In [20]:
Gender_count

Male      882
Female    588
Name: Gender, dtype: int64

# HOW MANY MALE ARE ATTRITING

In [22]:
# total male 882 are there in company so according to this

male_attrition_count = len(df[(df['Gender'] == 'Male') & (df['Attrition'] == 'Yes')])
male_attrition_count

# by this from 882 how many will attrite

150

# HOW MANY FEMALE ARE ATTRTITING

In [24]:
# total female are 588 in company so according to this

female_attrition_count = len(df[(df['Gender'] == 'Female') & (df['Attrition'] == 'Yes')])
female_attrition_count

# by this from 588 how many female will attrite

87

# JOB ATTRITION DUE TO LOWER WORK LIFE BALANCE THAN AVERAGE

In [25]:
print(f'Average WorkLifeBalance = {df["WorkLifeBalance"].mean()}')
print(f'Highest WorkLifeBalance = {df["WorkLifeBalance"].max()}')
print(f'Lowest WorkLifeBalance = {df["WorkLifeBalance"].min()}')

Average WorkLifeBalance = 2.7612244897959184
Highest WorkLifeBalance = 4
Lowest WorkLifeBalance = 1

In [27]:
# now we will find out that due to work life balance how many employ will attrite from the company

average_worklife = 2.7612244897959184

# Filter employees with 'Attrition' as 'Yes' and 'WorkLifeBalance' lower than the average
attrition_due_to_worklife = df[(df['Attrition'] == 'Yes') & (df['WorkLifeBalance'] < average_worklife)]

# Count the number of such employees
num_employees_attrite = len(attrition_due_to_worklife)

# Display the result
print("Number of employees who might attrite due to Work-Life Balance lower than the average:", num_employees_attrite)

Number of employees who might attrite due to Work-Life Balance lower than the average: 83

# HOW MANY MALE AND FEMALE ARE ATTRITING AND WHICH GENDER IS MOST LIKELY TO ATTRITE

In [42]:
# Now we will find out that how many male and female are attriting the company and which gender is more likely to attrite

total_male_employees = len(df[df['Gender'] == 'Male']) # this will tell the how many male employs are there
total_female_employees = len(df[df['Gender'] == 'Female']) # this will tell the how many female employs are there

male_attrition_count = len(df[(df['Gender'] == 'Male') & (df['Attrition'] == 'Yes')]) # this will count that how many male are attriting
female_attrition_count = len(df[(df['Gender'] == 'Female') & (df['Attrition'] == 'Yes')]) # this will count that how many female are attriting

# Calculate the attrition rates for male and female employees
male_attrition_rate = male_attrition_count / total_male_employees
female_attrition_rate = female_attrition_count / total_female_employees

# Compare and display the results
if male_attrition_rate > female_attrition_rate:
    print("Male employees are more likely to attrite.")
    print(f"Attrition rate for male employees: {male_attrition_rate:.1%}")
    print(f"Attrition rate for female employees: {female_attrition_rate:.1%}")
elif female_attrition_rate > male_attrition_rate:
    print("Female employees are more likely to attrite.")
    print(f"Attrition rate for female employees: {female_attrition_rate:.1%}")
    print(f"Attrition rate for male employees: {male_attrition_rate:.1%}")
else:
    print("Male and female employees have the same attrition rate.")

Male employees are more likely to attrite.
Attrition rate for male employees: 17.0%
Attrition rate for female employees: 14.8%

In [43]:
print(f'Average JobSatisfaction = {df["JobSatisfaction"].mean()}')
print(f'Highest JobSatisfaction = {df["JobSatisfaction"].max()}')
print(f'Lowest JobSatisfaction = {df["JobSatisfaction"].min()}')

Average JobSatisfaction = 2.7285714285714286
Highest JobSatisfaction = 4
Lowest JobSatisfaction = 1

# JOB ATTRITION DUE TO LOWER THAN AVERAGE JOBSATISFICATION

In [47]:
average_JobSatisfaction = 2.7285714285714286

# Filter employees with 'Attrition' as 'Yes' and 'WorkLifeBalance' lower than the average
attrition_due_to_low_JobSatisfaction = df[(df['Attrition'] == 'Yes') & (df['JobSatisfaction'] < average_JobSatisfaction)]

In [48]:
num_employees_attrite = len(attrition_due_to_low_JobSatisfaction)

In [49]:
print("Attrition due to lower Jobsatisfication than average :",num_employees_attrite)

Attrition due to lower Jobsatisfication than average : 112