In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/HP/Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
    import tensorflow as tf

In [5]:
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [6]:
x = data.drop(columns = ['Exited'] , axis = 1)

In [7]:
# x

In [8]:
y = data['Exited']

In [9]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [10]:
x.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

In [11]:
lb = LabelEncoder()

In [12]:
data['Geography'] = lb.fit_transform(data['Geography'])
data['Gender'] = lb.fit_transform(data['Gender'])

In [13]:
x['Geography'] = lb.fit_transform(x['Geography'])
x['Gender'] = lb.fit_transform(x['Gender'])
x['Surname'] = lb.fit_transform(x['Surname'])

In [14]:
x.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10

In [15]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  int32
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  int32
 5   Gender           10000 non-null  int32
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int32(3), int64(8)
memory usage: 898.6 KB

In [16]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [17]:
sc = StandardScaler() 
x_train = sc.fit_transform(x_train) 
x_test = sc.transform(x_test)

In [18]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64 , activation = 'relu' , input_dim = x_train.shape[1]) ,   #input layer
    tf.keras.layers.Dense(64 , activation = 'relu') ,   #hidden layer
    tf.keras.layers.Dense(1 , activation = 'sigmoid')   #output layer 
])

In [19]:
# Define the loss function and metrics 

loss_fn = tf.keras.losses.BinaryCrossentropy() 
metrics = ['accuracy']

In [20]:
# Define the optimizer
learning_rate = 0.001
momentum = 0.9 
optimizer = tf.keras.optimizers.SGD(learning_rate = learning_rate , momentum = momentum)

In [21]:
# Compile the model 
model.compile(optimizer = optimizer , loss = loss_fn , metrics = metrics)

In [22]:
# Train the model 
epochs = 10 
batch_size = 32 
model.fit(x_train , y_train , batch_size = batch_size , epochs = epochs , validation_split = 0.2)

Epoch 1/10
200/200 [==============================] - 6s 13ms/step - loss: 0.5483 - accuracy: 0.7575 - val_loss: 0.4846 - val_accuracy: 0.7987
Epoch 2/10
200/200 [==============================] - 2s 9ms/step - loss: 0.4863 - accuracy: 0.7934 - val_loss: 0.4662 - val_accuracy: 0.7987
Epoch 3/10
200/200 [==============================] - 1s 7ms/step - loss: 0.4708 - accuracy: 0.7934 - val_loss: 0.4537 - val_accuracy: 0.7987
Epoch 4/10
200/200 [==============================] - 1s 7ms/step - loss: 0.4588 - accuracy: 0.7934 - val_loss: 0.4440 - val_accuracy: 0.7994
Epoch 5/10
200/200 [==============================] - 1s 7ms/step - loss: 0.4493 - accuracy: 0.7944 - val_loss: 0.4362 - val_accuracy: 0.8019
Epoch 6/10
200/200 [==============================] - 2s 8ms/step - loss: 0.4413 - accuracy: 0.7966 - val_loss: 0.4303 - val_accuracy: 0.8069
Epoch 7/10
200/200 [==============================] - 1s 7ms/step - loss: 0.4346 - accuracy: 0.8012 - val_loss: 0.4252 - val_accuracy: 0.8131
Epoch 8/10
200/200 [==============================] - 1s 7ms/step - loss: 0.4283 - accuracy: 0.8042 - val_loss: 0.4206 - val_accuracy: 0.8156
Epoch 9/10
200/200 [==============================] - 2s 12ms/step - loss: 0.4230 - accuracy: 0.8086 - val_loss: 0.4163 - val_accuracy: 0.8263
Epoch 10/10
200/200 [==============================] - 2s 9ms/step - loss: 0.4175 - accuracy: 0.8183 - val_loss: 0.4125 - val_accuracy: 0.8263

In [23]:
# Evaluate the model 
test_loss , test_acc = model.evaluate(x_test , y_test)
print("Test Loss:" , test_loss)
print("Test Accuracy:" , test_acc)

63/63 [==============================] - 1s 3ms/step - loss: 0.4040 - accuracy: 0.8225
Test Loss: 0.40402209758758545
Test Accuracy: 0.8224999904632568