In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/HP/Downloads/insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
df['sex'] = le.fit_transform(df['sex'])
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])

In [6]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [7]:
x = df.drop(columns = 'charges', axis =1)
y  = df['charges']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train , x_test, y_train , y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc = StandardScaler()

In [12]:
x_train_new = sc.fit_transform(x_train)
x_test_new = sc.transform(x_test)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(x_train_new, y_train)

LinearRegression()

In [16]:
y_pred = lr.predict(x_test_new)

In [17]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7833463107364537

In [18]:
df = pd.read_csv("C:/Users/HP/Downloads/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [25]:
from sklearn.preprocessing import OneHotEncoder
x = df.drop(columns = 'smoker',axis =1)
y = df['smoker']
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 2)
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [27]:
ohe = OneHotEncoder(drop = 'first' , sparse = False)
x_train_sex_region = ohe.fit_transform(x_train[['sex' , 'region']])

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [29]:
x_train_sex_region.shape

(1070, 4)

In [30]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [31]:
from sklearn.compose import ColumnTransformer 
transformer = ColumnTransformer(transformers = [
    ('a' , OneHotEncoder(sparse = False , drop = 'first') , ['sex' , 'region'])
] , remainder = 'passthrough')

In [32]:
transformer.fit_transform(x_train).shape

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(1070, 8)